@media screen and (max-width: 768px){
    .container {
        display: flex;
        flex-direction: column;
        height:auto;
    }
    .botao {
        margin-top: 55px;
        width: 150px;
    }

}